footer{



  background-color: $semiblack;
  color: $lightGray;
  border-top: solid 3px $movieDB;


  padding: 20px 60px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


  .divLogo{
    width: 80px;
    height: 100%;
    background: url("../images/movieDBgreen.png")no-repeat ;
    background-size: cover ;
  }

  .logo{
    width: 80px;
    height: 100%;
  }

  .logo:hover{
    transition: 750ms;
    transform: translate(0,4px) scale(1.15);
  }

  .retour{
    width: 50px;
    height: 100%;
  }

  .retour:hover{
    transition: 750ms;
    transform: translate(0,4px) scale(1.15);
  }


  .auteur{
    margin: 0 0;
  }

  .iconeSociaux{
    width: 250px;
    display: flex;
    justify-content: space-between;

  }

  .sociaux{
    width: 40px;
  }

  .sociaux:hover{
    transition: 750ms;
    transform: translate(0,4px) scale(1.15);

  }

  .facebook{
      width: 37.5px;
  }




}