.liste-films{

  background:$movieDB;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;


  article {
    flex-basis: 30%;
    padding: 20px;
    background: $dark;
    color: $lightGray;

    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .description{
    font-family: $ff-normal;
    font-weight: $fw-light;
    text-align: left;
    line-height: 180%;

    padding: 0 10px;
  }

  .informations{
    margin: auto auto 10px auto;
    padding: 15px 80px;
    color: $lightGray;

    background-color: darken($dark,5%);
    border: solid 5px darken($dark,3%);
    border-radius: 100px;


  }


  .informations:hover{
    background-color: darken($movieDB,10%);
    border: solid 5px darken($movieDB,20%);
  }



  .film{
    margin-bottom: 20px;
    box-shadow: 2px 10px 10px 0 $dark;
    h4{
      margin-bottom: 0;
    }

    .year{
      margin-bottom: 40px;
    }


  }

  .film a:hover{
    color: $dark;
  }

  .title{
    font-family: $ff-title;
    text-align: center;
  }


  .flex-etoile{

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h3{
      height: 70px;
    }

  }

  .flex-date{

    display: flex;
    flex-direction: row;
    justify-content: space-between;


  }


}







@media screen and (max-width: $tablette-width){



}


@media screen and (min-width: $mobile-width){



}
