.zoneSwiper{
  background: $dark;


  a{
    color: $lightGray;
  }

  a:hover{
    color: $movieDB;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}



.swiper-slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  color: $lightGray;
  padding-top: 20px;
  justify-content: space-between;



  img{
    max-height: 500px;
  }

  h4{
    text-align: center;
    align-self: center;

    width: 100px;
    padding: 25px 0;
    background-color: $movieDB;
    border: 5px solid darken($movieDB, 10%);
    color: $darkGray;

    border-radius: 40px;
  }


}



.swiper-pagination{
  color: $movieDB;
}


.flex-etoile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;

  //h4{
  //  align-self: center;
  //}

}




.swiper-slide{
  justify-content: space-between;
}






@media screen and (max-width: $tablette-width){

  .swiper-slide {

    img{
      max-height: 375px;
    }

    h4{
      padding: 10px 0;
    }

  }



}


@media screen and (min-width: $mobile-width){

  .swiper-slide {

    img{
      max-height: 375px;
    }

    h4{
      padding: 10px 0;
    }

  }

}
