
.commentaire{
  color: $movieDB;
  padding: 100px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-left: 2px solid $movieDB;
  border-right: 2px solid $movieDB;
  border-top: 2px solid $movieDB;

}



.commentaireFait{
  color: $lightGray;
  display: flex;
  flex-direction: row;
  align-items: center;

  img{
    width: 100px;
    border-radius: 50%;

  }

  h4{
    margin-bottom: 0;
    color: $movieDB;
  }

  .flex{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    margin-left: 30px;


  }

}

.formulaire{

  padding: 50px 0;

  form{
  font-family: $ff-title;
  display: flex;
  flex-direction: column;
  }

  label{
    margin-top: 10px;
  }


  .submit{
    font-family: $ff-title;
    font-weight: $fw-bold;
    background: $movieDB;
    color: $dark;
    border: 2px solid $movieDB;
    border-radius: 5px;

    margin-top: 10px;
  }



}




@media screen and (max-width: $tablette-width){



}


@media screen and (min-width: $mobile-width){



}
