

.ficheArticle{



  .flex{
    display: flex;
    flex-direction: row;
  }

  .titre{
    font-size: $fz-h1;
  }

  .divImage{
  color: $lightGray;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  flex: 2 1 auto;
  justify-content: space-evenly;
  box-shadow: 2px 10px 10px 0 $dark;



  .infoSecondaire{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    h2{
      text-align: center;
    }
  }




  img{
    width: 50vh;
    box-shadow: 0 10px 30px 0 $semiblack;

  }


}
  div.synopsis{
    box-shadow: 0 10px 30px 0 $movieDB;
  }

  .synopsis{
    color: $lightGray;
    font-family: $ff-normal;
    font-weight: $fw-light;
    background: darken($dark,5%);
    margin: 0 auto;
    padding: 50px ;

  }



  .divBudget, .divDuree, .divRecette{
    color: $lightGray;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }




} //fin .ficheArticle



.infoTroisieme{
  z-index: 0;
  padding-top: 150px;

 }


h3.recette, h3.budget, h3.duree{
  font-family: $ff-normal;
  font-weight: $fw-light;
}



.sectionTete{
    padding-top: 40px;
  padding-bottom: 50px;

    display: flex;
    flex-direction: row;
    flex-basis: 30%;
    justify-content: space-evenly;


  img{
    box-shadow: 0 10px 30px 0 $semiblack;

  }


}

.titreSectionTete{

  padding-top: 150px;

  h2{

    color: $movieDB;

    text-align: center;
    margin: 0 0;

    padding: 100px auto;
  }

}






@media screen and (max-width: $tablette-width){



}


@media screen and (min-width: $mobile-width){



}







