.navigation{

  background: $semiblack;
  font-family: $ff-title;
  font-weight: $fw-bold;
  font-size: $fz-h4 ;

  padding: 40px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul{
    display: flex;
    flex-direction: row;
      li{
        padding-left:40px;
      }
  }

  img{
    width: 100px;
    height: 100%;
  }

  a:hover{

      color: $lightGray;
  }

}



@media screen and (max-width: $tablette-width){
.navigation{
  font-size: $fz-h3 ;
}



}


@media screen and (min-width: $mobile-width){



}
