

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snipArticle {
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  font-size: 16px;
  line-height: 1.2em;
}

.snipArticle *,
.snipArticle *:before,
.snipArticle *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snipArticle:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  content: '';
  background-color: $dark;
  opacity: 0;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snipArticle img {
  max-width: 100%;
  vertical-align: top;
}

.snipArticle .icons {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snipArticle a {
  margin: 2px;
  opacity: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.snipArticle a i {
  display: block;
  font-size: 23.52941176px;
  line-height: 40px;
  width: 40px;
  background-color: $dark;
  text-align: center;
  color: #000000;
}

.snipArticle a i:hover {
  background-color: #000000;
  color: $dark;
  cursor: pointer;
}

.snipArticle:hover:before,
.snipArticle.hover:before {
  opacity: 0.5;
}

.snipArticle:hover a,
.snipArticle.hover a {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.snipArticle:hover a:nth-child(2),
.snipArticle.hover a:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.snipArticle:hover a:nth-child(3),
.snipArticle.hover a:nth-child(3) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

