@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snipMenu {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snipMenu * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snipMenu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.4em 0.8em;
  padding: 0;
}
.snipMenu a {
  padding: 0 0.7em;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  text-decoration: none;
  display: inline-block;
}
.snipMenu a:before {
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
  left: 15%;
  right: 15%;
  top: 0;
  bottom: 0;
  border-left: 3px solid $movieDB;
  border-right: 3px solid $movieDB;
}
.snipMenu a:hover,
.snipMenu .current a {
  color: #ffffff;
}
.snipMenu a:hover:before,
.snipMenu .current a:before {
  opacity: 1;
  left: 0;
  right: 0;
}