// LE BODY PERMET D'INITIALISER LES PROPRIÉTÉS GÉNÉRALES DE LA PAGE. LES ÉLÉMENTS DE LA PAGE VONT HÉRITÉS DES PROPRIÉTÉS INSCRITE DANS BODY

body{

  width: 100vw;

  font-family: $ff-normal;
  font-size: $fz-normal;
  color: $color-text-normal;
  line-height: $lh-normal;
  font-weight: $fw-semibold;


  background: darken($dark, 7%);

  li{
    list-style: none;
    text-decoration: none;

  }

  a{
    text-decoration: none;
  }
  a:visited{
     text-decoration: none;
   }
  a:hover{
    text-decoration: none;
  }
  a:active{
    text-decoration: none;
  }

}

html {
  scroll-behavior: smooth;
}






@media screen and (max-width: $tablette-width){



}


@media screen and (min-width: $mobile-width){



}
